{# Nieuwe plek voor toolkit en portretten #}
<aside class="aside">
    <div class="asideblocks">
        {% include "_partials/_banner_portret.twig" %}
        {% include "_partials/_cta_toolkit.twig" %}
        {% include "_partials/nav/_sociallinks.twig" %}
    </div>
</aside>