{% set meedoen = craft.entries.section('meedoen').one() %}
<div class="asideblock asideblock--toolkit">
    <div class="asideblock__content toolkit">
        <div class="toolkitCta">
            <div class="toolkitCta__icon">
                {% include "_partials/social_icons/icon_suitcase.twig" with { 'fillColor': '#ffe85e' } %}
            </div>

            <div class="toolkitCta__header">
                <span class="pretitle">{{ meedoen.ctaMeedoenTitle }}</span>
            </div>

            <div class="toolkitCta__text">
                <div class="contentblock">
                    <div class="contentblock__text">
                        {{ meedoen.ctaMeedoenText }}
                    </div>
                </div>
            </div>

            <div class="toolkitCta__footer">
                <a href="/toolkit" class="btn btn--secondary btn--yellow">
                    → Naar de toolkit
                </a>
            </div>
        </div>
    </div>
</div>