{% set meedoen = craft.entries.section('meedoen').one() %}

<div class="ctablock ctablock--meedoen">
    <div class="cta">
        <div class="cta__header">
            <h3>{{ meedoen.ctaMeedoenTitle }}</h3>
        </div>

        <div class="cta__content">
            <div class="contentblock">
                <div class="contentblock__text">
                    {{ meedoen.ctaMeedoenText }}
                </div>
            </div>
        </div>

        <div class="cta__footer">
            <div class="btn-group">
                    <a href="/meedoen" class="btn btn--secondary btn--yellow">
                        → Kijk wat jij kunt doen
                    </a>
            </div>
        </div>
    </div>
</div>