{% set meedoen = craft.entries.section('meedoen').one() %}

<div class="ctablock ctablock--organisaties">
    <div class="cta">
        <div class="cta__header">
            <h3>{{ meedoen.ctaOrgTitle }}</h3>
        </div>

        <div class="cta__content">
            <div class="contentblock">
                <div class="contentblock__text">
                    {{ meedoen.ctaOrgText }}
                </div>
            </div>
        </div>

        <div class="cta__footer">
            <div class="btn-group">
                    <a href="mailto:campagne@stopdeasielwetten.nl" class="btn btn--secondary btn--yellow">
                        → Contact opnemen
                    </a>
            </div>
        </div>
    </div>
</div>