{% set overOns = craft.entries.section('overOns').one() %}

{% if overOns.partner %}
    {% set partners = overOns.partner %}
<div class="contentblock" id="bondgenoten">
    <div class="contentblock__text">
        <h3>Bondgenoten</h3>
        
        <ul class="partnerlist">
            {% for partner in partners %}
            <li>
                {% if partner.partnerlink %}
                <a href="{{ partner.partnerlink }}" rel="nofollow noopener" target="_blank">{{ partner.title }}</a>
                {% else %}
                {{ partner.title }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}