{% set meedoen = craft.entries.section('meedoen').one() %}
<a class="sticker" href="{{ meedoen.demoLink }}" rel="noopener noreferrer" target="_blank">
    <img src="/assets/img/sticker_petitie.svg" alt="Landelijke demonstratie, 7 september Den Haag">
</a>