{% set meedoen = craft.entries.section('meedoen').one() %}
<a class="sticker" href="mailto:campagne@bkb.nl" rel="" target="_blank">
    <img src="/assets/img/sticker-wordbondgenoot.svg" alt="Landelijke demonstratie, 7 september Den Haag">
</a>