{% if images %}
<div class="contentblock__imagegrid">
    {% for block in images %}
        {% set asset = block.image.one() %}
        {% if asset %}
            <div class="contentblock__imagegrid__item">
                <img src="{{ asset.getUrl(thumbSize) }}" alt="{{ asset.alt }}">
                <a class="btn btn--tertiary btn--diap-green btn--download" href="{{ asset.url }}" download>
                    Download
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
