{% extends "_layouts/default" %}

{% block styles %}
{% endblock %}

{% block bodyclass %}yellow bg-green entry{% endblock %}

{% block content %}

<main id="main" class="main" tabindex="-1">
    <article class="article">
        <div class="article__header">
            <div class="content sectionheader">
                <div class="contentblock">
                    <header class="contentblock__header">
                        <h2 class="pagetitle">{{ entry.title }}</h2>
                        {% if entry.preTitle %}<h3 class="pagepretitle">{{ entry.preTitle }}</h3>{% endif %}
                    </header>

                    {% if entry.intro %}
                    <div class="contentblock__text">
                        {{ entry.intro }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% include "_partials/_block_video.twig" %}

        <div class="contentblocks">
            <div class="content">
                <div class="blocks">
                    <div class="block header">
                        <div class="contentblock__text"><h3>Meer doen</h3></div>
                    </div>
                    {% if entry.body %}
                    <div class="block body">
                        <div class="contentblock">
                            <div class="contentblock__text">
                                {{ entry.body }}
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="block demo">
                        <a class="demoposter" href="https://stopcriminalization.mdwfnv.org/" rel="noopener noreferrer" target="_blank">
                            <span class="demoposter__pretitle">Kom naar de FNV-demonstratie:</span>
                            <span class="demoposter__title">Stop De Criminaliseringswet!</span>
                            <span class="demoposter__date">7 september</span>
                            <span class="demoposter__location">Den Haag</span>
                            <span class="demoposter__link">&rarr; Meer info</span>
                        </a>
                    </div>

                    {#<div class="block toolkit"></div>#}
                </div>
            </div>
        </div>


        
        {% include "_partials/_cta_organisaties.twig" %}
    </article>
</main>

{% include "_partials/nav/_sociallinks.twig" %}

{% endblock %}

{% block scripts %}{% endblock %}