{% extends "_layouts/default" %}

{% block styles %}
{% endblock %}

{% block bodyclass %}yellow bg-green entry{% endblock %}

{% block content %}

<main id="main" class="main" tabindex="-1">
    <section class="section">
        <div class="content sectionheader">
            <div class="contentblock">
                <header class="contentblock__header">
                    <h2 class="pagetitle">Binnenkort...</h2>
                </header>
            </div>
        </div>
    </section>
</main>

{% endblock %}

{% block scripts %}
{% endblock %}