//@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');



:root {
    --black: rgb(5, 2, 3);
    --white: rgb(255, 255, 255);
    --red: #bc2911; // #da4726
    --green: #068442; // #068442
    --darkGreen: #006832; // #006832
    --yellow: #ffee72; // #ffee72

    --lightYellow: #fff5af; // #fff5af





////////////////////////////////////////////////////
// BREAKPOINTS
////////////////////////////////////////////////////
    $breakpoints: (
        "xs": 0,
        // 0px              
        "sm": 24rem,
        // 384px
        "md": 48rem,
        // 768px
        "lg": 64rem,
        // 1024px
        "xl": 80rem,
        // 1280px
        "xxl": 90rem,
        // 1440px
        "xxxl": 120rem,
        // 1920px
        "xxxxl": 160rem
        // 2560px
    );

}

////////////////////////////////////////////////////
// BREAKPOINTS LOGIC
////////////////////////////////////////////////////
@mixin breakpoint($point) {
    @if $point ==xs {
        @media (min-width: 0) {
            @content;
        }
    }

    @else if $point ==sm {
        @media (min-width: 28rem) { // 448px
            @content;
        }
    }

    @else if $point ==md {
        @media (min-width: 48rem) { // 768px
            @content;
        }        
    }

    @else if $point ==lg {
        @media (min-width: 64rem) { // 1024px
            @content;
        }
    }

    @else if $point ==xl { // 1280px
        @media (min-width: 80rem) {
            @content;
        }
    }

    @else if $point ==xxl { // 1440px
        @media (min-width: 90rem) {
            @content;
        }
    }

    @else if $point ==xxxl { // 1920px
        @media (min-width: 120rem) {
            @content;
        }        
    }

    @else if $point ==xxxxl { // 2560px
        @media (min-width: 160rem) {
            @content;
        }
    }
}

// Usage example
// @include breakpoint(lg) {}


////////////////////////////////////////////////////
// IMAGES
////////////////////////////////////////////////////
img {
    display: block;
    width: 100%;
    height: auto;
}

figure {
    margin: 0;
}

////////////////////////////////////////////////////
// TYPOGRAPHY
////////////////////////////////////////////////////




.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    color: #000;
    background-color: #fff;
}

.hidden-label {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--white);
    text-transform: uppercase;
}

[id] {
    scroll-margin-top: 2rem;
}

// Reduced motion preferences
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}