//.main {}


.section,
.article {
    
    .content {
        width: calc( 100% - 2rem );
        margin-inline: auto;

        @include breakpoint(lg) { // 1024px
            width: min(80rem,100vw - 4rem);
            margin-inline: auto;
        }

    }
}

.homepage .section {
    padding-block: 4rem;

    @include breakpoint(xl) { // 1280px
        padding-block: 8rem;
    }

}

.homepage .section--actie {
    background-color: var(--red);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.homepage .section--video,
.homepage .section--nieuws {
    background-color: var(--yellow);
}

.aside--sociallinks {
    padding-block: 8rem;
}

.contentblock {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include breakpoint(xl) { // 1280px
        gap: 4rem;
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include breakpoint(xl) { // 1280px
            gap: 4rem;
        }
    }

    &__embed {
        //aspect-ratio: 9 / 16;
        //background-color: var(--black);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__cols {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-block: 2rem;

        @include breakpoint(md) { // 768px
            flex-direction: row;
        }

        @include breakpoint(xl) { // 1280px
            gap: 4rem;
        }
    }
}


.article__content .contentblock {
    margin-block-end: 2rem;

    @include breakpoint(xl) { // 1280px
        margin-block-end: 4rem;
    }

}

.contentblock__cols__col {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include breakpoint(md) { // 768px
        width: 50%;
    }
}

////////////////////////////////////////////////////
// NIEUWS
////////////////////////////////////////////////////
.newslist {
    display: flex;
    flex-direction: column;
    gap: 4rem;

        @include breakpoint(xl) { // 1280px
        gap: 8rem;
    }

}

.newslist__item {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    transition: transform 0.2s ease-out;

    @include breakpoint(xl) { // 1280px
        flex-direction: row;
        gap: 8rem;
    }

    &:hover {
        transform: scale(1.02);
    }

    &__text {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        
        .pretitle {
            order: -1;
        }
    }

    &__image {
        width: 24rem; //384px
        flex-shrink: 0;
    }
}

////////////////////////////////////////////////////
// ARTICLES & NIEUWS
////////////////////////////////////////////////////

.article__header {
    padding-block: 4rem;
}

.article__content {
    padding-block: 4rem;
    background-color: var(--yellow);
    color: var(--green);

    @include breakpoint(xl) { // 1280px
        padding-block-end: 8rem;
    }

}

.article__footer {
    padding-block-end: 4rem;
    background-color: var(--yellow);
    color: var(--green);

    @include breakpoint(xl) { // 1280px
        padding-block-end: 8rem;
    }

}

.listing {

    .section__header {
        padding-block: 4rem;

        @include breakpoint(xl) { // 1280px
            //padding-block: 8rem;
        }
    }

    .section__content {
        background-color: var(--yellow);
        color: var(--green);
        padding-block: 4rem;

        @include breakpoint(xl) { // 1280px
            padding-block: 8rem;
        }
    }
}

.contentblock__header { // pull up the preTitle
    .pretitle,
    .pagepretitle {
        order: -1;
    }

}

////////////////////////////////////////////////////
// TOOLKIT COLS 
////////////////////////////////////////////////////

.contentblocks__toolkit {
    background-color: var(--yellow);
    color: var(--green);
    padding-block: 4rem;

    .blocks {
        display: grid;
        gap: 4rem;
        grid-template-areas: 
        "body"
        "imagegrid-1"
        "imagegrid-2"
        "imagegrid-3"
        "demo";

        @include breakpoint(lg) { // 1024px
            grid-template-areas: 
            "body demo"
            "imagegrid-1 imagegrid-1"
            "imagegrid-2 imagegrid-2"
            "imagegrid-3 imagegrid-3"
        }

        .block {
            display: flex;
            flex-direction: column;
        }

        .body {
            grid-area: body;
        }

        .demo {
            grid-area: demo;
        }

        .imagegrid-1 {
            grid-area: imagegrid-1;
        }

        .imagegrid-2 {
            grid-area: imagegrid-2;
        }

        .imagegrid-3 {
            grid-area: imagegrid-3;
        }

    }

}

.contentblock__imagegrid {
    display: grid;
    gap: 1rem;
    //grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fill,minmax(14rem,1fr));

    @include breakpoint(md) { // 768px
        //grid-template-columns: repeat(3, 1fr);
        //grid-template-rows: repeat(3, auto);
    }

    @include breakpoint(lg) { // 1024px
        gap: 2rem;
        //grid-template-columns: repeat(auto-fit, minmax(0, 20rem));
        //grid-template-rows: auto;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        align-items: center;
        text-align: center;
        
        img {
            box-shadow: 0 0 14px 0px rgba(0,0,0,0.35);
        }

        @include breakpoint(lg) { // 1024px
            align-items: flex-start;
            text-align: left;
        }
    }
}



////////////////////////////////////////////////////
// MEEDOEN COLS 
////////////////////////////////////////////////////

.contentblocks__meedoen {
    background-color: var(--yellow);
    color: var(--green);
    padding-block: 4rem;

    .blocks {
        display: grid;
        gap: 4rem;
        grid-template-areas: 
        "header"
        "toolkit"
        "demo"
        "body";

        @include breakpoint(lg) { // 1024px
            grid-template-areas: 
            "header header"
            "toolkit demo"
            "body extra";
        }

        .block {
            display: flex;
            flex-direction: column;
        }

        .body {
            grid-area: body;
        }

        .demo {
            grid-area: demo;
        }

        .toolkit {
            grid-area: toolkit;
            align-self: flex-start;
            transform: rotate(-.5deg);
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: rotate(.5deg);

                .toolkit__handle {
                    transition: all 0.3s ease-in-out;
                    border-color: var(--red);
                    height: 2rem;
                }

                .toolkit__content {
                    transition: all 0.3s ease-in-out;
                    background-color: var(--red);
                }
            }

            &__handle,
            &__content {
                transition: all 0.3s ease-in-out;
            }

            &__handle {
                width: 30%;
                height: 1.5rem;
                margin-inline: auto;
                background-color: var(--yellow);
                border-top: 1.5rem solid var(--green);
                border-left: 1.5rem solid var(--green);
                border-right: 1.5rem solid var(--green);
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                align-self: center;
                margin-bottom: -1px; //voorkomt kieren door rotate
            }

            &__content {
                align-self: center;
                display: flex;
                gap: 1.5rem;
                width: calc(100% - 2rem);
                max-width: 32rem;
                border-radius: 1rem;
                padding: 2rem 1rem;
                background-color: var(--green);
            }

            &__icon {
                width: 5rem;
            }

            //&__link {}
        }

    }

}

////////////////////////////////////////////////////
//DEMO POSTER 
////////////////////////////////////////////////////
.demoposter {
    padding: 2rem 1rem;
    width: calc(100% - 2rem);
    max-width: 28rem;
    background-color: var(--red);
    color: var(--yellow);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
   // align-items: center;
    justify-content: center;
    align-self: center;
    transform: rotate(.5deg);
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: var(--green);
        transform: rotate(-.5deg);
    }
}

////////////////////////////////////////////////////
// BLOCK VIDEO 
////////////////////////////////////////////////////
.videoblock {
    padding-block: 4rem;
    background-color: var(--yellow);
    color: var(--green);
}


.videocontent {
    display: grid;
    gap: 4rem;
    grid-template-areas: "video" "share";

    @include breakpoint(lg) { // 1024px
        grid-template-areas: "video share";
    }

    &__video {
        grid-area: video;
        display: flex;
        justify-content: center;

        @include breakpoint(lg) { // 1024px
            min-width: 36rem;
        }
    }

    &__share {
        grid-area: share;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .sharebtns {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        gap: 2rem;

    }
}

////////////////////////////////////////////////////
// EMBEDS
////////////////////////////////////////////////////

.media--embed {
    aspect-ratio: 9/16;
    width: 100%;
    height: auto;
    max-width: 49rem;
    max-height: 92vh;
    overflow: hidden;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

}

////////////////////////////////////////////////////
// sociallinks
////////////////////////////////////////////////////

.sociallinks {
    width: min(48rem,100vw - 4rem);
    margin-inline: auto;

    h3 {
        font-size: clamp(1.25rem,4vw,4rem);
        font-weight: 700;
        text-transform: uppercase;
    }
}

.content .sociallinks {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include breakpoint(xl) { // 1280px
        flex-direction: row;
        gap: 4rem;
    }
}

////////////////////////////////////////////////////
// MAILCHIMP
////////////////////////////////////////////////////

.sociallinks__newsletter {
    flex-grow: 1;
}

.sociallinks__newsletter,
#mc_embed_signup_scroll {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputgroup {
    display: flex;
    flex-wrap: nowrap;
}

.inputgroup__input {
    flex-grow: 1;

    input.email {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1;
        color: var(--green);
        background-color: var(--yellow);
        width: calc( 100% - 2rem );
        padding: 0.5rem 1rem;
        border: 1px solid var(--yellow);
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        box-shadow: none;

        &:focus {
            outline: none;
            border-color: var(--red);
            box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2);
        }
    }
}

.inputgroup__button {
    flex-shrink: 0;
    //margin-left: 0.5rem;

    .button {
        padding: 0.65rem 1rem;
        font-size: 1.25rem;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1;
        background-color: var(--green);
        color: var(--yellow);
        border: 1px solid var(--yellow);
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        cursor: pointer;

        &:hover {
            background-color: var(--red);
            color: var(--yellow);
            border-color: var(--red);
        }
    }
}

////////////////////////////////////////////////////
// CTA blokken
////////////////////////////////////////////////////

.ctablock {

    &--meedoen {
        background-color: var(--red);
        color: var(--yellow);
    }

    &--organisaties {
        background-color: var(--green);
        color: var(--yellow);
    }

    a {
        text-decoration: none;
    }

}

.cta {
    width: min(48rem,100vw - 4rem);
    padding-block: 4rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

////////////////////////////////////////////////////
// Sitefooter
////////////////////////////////////////////////////
.footer {
        width: min(48rem,100vw - 4rem);
        margin-inline: auto;
        padding-block-end: 2rem;
}