body {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    //-moz-osx-font-smoothing: grayscale;
}
body.green {
    color: var(--green);
}
body.yellow {
    color: var(--yellow);
}
body.red {
    color: var(--red);
}

body.bg-green {
    background-color: var(--green);
}
body.bg-yellow {
    background-color: var(--yellow);
}

body.bg-red {
    background-color: var(--red);
}



a {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

h1, h2 {
    font-size: 2rem;
    line-height: 1;

    @include breakpoint(lg) { 
        font-size: 2.5rem;
    }

    @include breakpoint(xxl) { 
        font-size: 3rem;
    }
}

h3, h4, h5, h6 {
    font-size: 1.75rem;
    line-height: 1;

    @include breakpoint(lg) { 
        font-size: 1.5rem;
    }

    @include breakpoint(xl) { 
        font-size: 2.5rem;
    }
}

ol, ul, li, p {
    margin: 0;
}

p {
    margin: 0;
    font-size: 1.05rem;
    line-height: 1.35;

    @include breakpoint(lg) { 
        font-size: 1.125rem;
    }
    
}

sup {
    font-size: 70%;
    font-style: italic;
    line-height: 1;
    top: 0;
}

// For form labels and such
.label {
    font-size: .75rem;
    text-transform: uppercase;
}

p.error,
#mc_embed_signup div.mce_inline_error {
    color: var(--red)!important;
    font-weight: 700!important;
    margin: 0 0 1em 0!important;
    padding: .5rem 0!important;
    background-color: transparent!important;
}

#mc_embed_signup input.mce_inline_error {
    border-color: var(--red)!important;
}

b, strong {
    font-weight: 700;
}

time {
    font-size: 1rem;
    text-transform: uppercase;
}

.pagetitle { // Zie verderop de icon settings
    font-size: clamp(2rem,8vw,8rem);
    font-weight: 800;
    text-transform: uppercase;
}

.pagepretitle {
    font-size: clamp(1.25rem,2.5vw,2.5rem);
    text-transform: uppercase;
    font-weight: 700;
}

.title {
    font-size: clamp(1.25rem,4vw,4rem);
    margin-bottom: 1.5rem;
}

.pretitle {
    font-size: clamp(1.25rem,2.5vw,2.5rem);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
}

.sectionheader .contentblock__text p,
.sectionheader .contentblock__text li {
    font-size: clamp(1.25rem,4vw,4rem);
}

.article__content .contentblock__text p,
.article__content .contentblock__text li,
.contentblock__cols p,
.contentblock__cols li,
.cta__content .contentblock__text p,
.cta__content .contentblock__text li,
.videocontent .contentblock__text p,
.videocontent .contentblock__text li,
.contentblocks__toolkit .contentblock__text p,
.contentblocks__toolkit .contentblock__text li,
.contentblocks__meedoen .contentblock__text p,
.contentblocks__meedoen .contentblock__text li {
    font-size: 1.25rem;

    @include breakpoint(xl) {
        font-size: 1.5rem;
    }

}

.cta__content .contentblock__text p,
.cta__content .contentblock__text li {
    font-weight: 600;
}


.article .contentblock__text li:not(:last-child),
.article .contentblock__text p:not(:last-child) {
    margin-bottom:  1.5rem;
}

.contentblock__cols p:not(:last-child),
.contentblock__cols li:not(:last-child) {
    margin-bottom:  .75rem;
}

.article .contentblock__text ul,
.article .contentblock__text ol {
    margin-bottom:  1.5rem;
}


.article .contentblock__text h3,
.article .contentblock__text h4 {
    font-weight: 700;
    margin: 0 0 1.5rem 0;
}

.contentblock__cols h3,
.contentblock__cols h4 {
    font-weight: 700;
    margin-bottom: 0;
}

.videocontent__share h3,
.contentblocks .header h3 {
    font-size: clamp(1.25rem, 4vw, 4rem);
    font-weight: 700;
    text-transform: uppercase;
}

.contentblock__header .pagetitle.icon-outboundlink:after {
    content: '';
    position: absolute;
    display: inline-block;
    width: .75rem;
    height: .75rem;
    margin-left: .5rem;
    margin-top: .5rem;
    background-size: .75rem;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 515.283 515.283'%3E%3Cpath fill='%23ffe85e' d='M372.149 515.283H85.881c-22.941 0-44.507-8.934-60.727-25.155S.001 452.34.001 429.402V143.134c0-22.94 8.934-44.506 25.154-60.726s37.786-25.154 60.727-25.154h114.507c15.811 0 28.627 12.816 28.627 28.627s-12.816 28.627-28.627 28.627H85.881c-7.647 0-14.835 2.978-20.241 8.384s-8.385 12.595-8.385 20.242v286.268c0 7.647 2.978 14.835 8.385 20.243 5.406 5.405 12.594 8.384 20.241 8.384h286.267c7.647 0 14.835-2.978 20.242-8.386 5.406-5.406 8.384-12.595 8.384-20.242V314.895c0-15.811 12.817-28.626 28.628-28.626s28.628 12.816 28.628 28.626v114.507c0 22.94-8.934 44.505-25.155 60.727-16.221 16.22-37.788 25.154-60.726 25.154zm-171.76-171.762c-7.327 0-14.653-2.794-20.242-8.384-11.179-11.179-11.179-29.306 0-40.485L417.544 57.254H314.896c-15.811 0-28.626-12.816-28.626-28.627S299.085 0 314.896 0h171.761a28.542 28.542 0 0 1 19.997 8.144l.002.002.056.056.017.016.044.044.029.029.032.032.062.062.062.062.031.032.029.029a.62.62 0 0 1 .06.061l.056.057.002.002a28.55 28.55 0 0 1 8.144 19.998v171.761c0 15.811-12.817 28.627-28.628 28.627s-28.626-12.816-28.626-28.627V97.739l-237.4 237.399c-5.585 5.59-12.911 8.383-20.237 8.383z'/%3E%3C/svg%3E");

    @include breakpoint(lg) {
        width: 1rem;
        height: 1rem;
        margin-top: .75rem;
        background-size: 1rem;
    }

    @include breakpoint(xl) {
        width: 1.5rem;
        height: 1.5rem;
        background-size: 1.5rem;
    }
}

.contentblock__header__icon {
    width: 3rem;

    @include breakpoint(xl) { // 1280px
        width: 6rem;
    }
}

.section--nieuws  {
    color: var(--green)
}

a.sociallinks__link {
    aspect-ratio: 1 / 1;
    background-color: var(--green);
    overflow: hidden;
    border-radius: 50%;
}

.homepage .section--nieuws .contentblock__header .pagetitle {
    margin-block-end: 4rem;
}

////////////////////////////////////////////////////
// NEWS LIST
////////////////////////////////////////////////////

a.newslist__item {
    text-decoration: none;

    .title,
    .pretitle {
        margin-bottom: .5rem;
    }
    
    .btn {
        margin-block-start: 1.5rem;
    }

    &.icon-outboundlink .title {
        position: relative;
        padding-right: 1rem;
    }

    &.icon-outboundlink .title:after {
        content: '';
        position: absolute;
        display: inline-block;
        width: .75rem;
        height: .75rem;
        margin-left: .5rem;
        margin-top: .25rem;
        background-size: .75rem;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 515.283 515.283'%3E%3Cpath fill='%2300934a' d='M372.149 515.283H85.881c-22.941 0-44.507-8.934-60.727-25.155S.001 452.34.001 429.402V143.134c0-22.94 8.934-44.506 25.154-60.726s37.786-25.154 60.727-25.154h114.507c15.811 0 28.627 12.816 28.627 28.627s-12.816 28.627-28.627 28.627H85.881c-7.647 0-14.835 2.978-20.241 8.384s-8.385 12.595-8.385 20.242v286.268c0 7.647 2.978 14.835 8.385 20.243 5.406 5.405 12.594 8.384 20.241 8.384h286.267c7.647 0 14.835-2.978 20.242-8.386 5.406-5.406 8.384-12.595 8.384-20.242V314.895c0-15.811 12.817-28.626 28.628-28.626s28.628 12.816 28.628 28.626v114.507c0 22.94-8.934 44.505-25.155 60.727-16.221 16.22-37.788 25.154-60.726 25.154zm-171.76-171.762c-7.327 0-14.653-2.794-20.242-8.384-11.179-11.179-11.179-29.306 0-40.485L417.544 57.254H314.896c-15.811 0-28.626-12.816-28.626-28.627S299.085 0 314.896 0h171.761a28.542 28.542 0 0 1 19.997 8.144l.002.002.056.056.017.016.044.044.029.029.032.032.062.062.062.062.031.032.029.029a.62.62 0 0 1 .06.061l.056.057.002.002a28.55 28.55 0 0 1 8.144 19.998v171.761c0 15.811-12.817 28.627-28.628 28.627s-28.626-12.816-28.626-28.627V97.739l-237.4 237.399c-5.585 5.59-12.911 8.383-20.237 8.383z'/%3E%3C/svg%3E");

        @include breakpoint(lg) {
            width: 1rem;
            height: 1rem;
            background-size: 1rem;
        }

        @include breakpoint(xl) {
            width: 1.5rem;
            height: 1.5rem;
            background-size: 1.5rem;
        }
    }
}

.newslist__item__text p {
    font-size: 1.25rem;

    @include breakpoint(xl) {
        font-size: 1.5rem;
    }
}

.cta h3,
.sociallinks h3 {
    font-size: clamp(1.25rem,3vw,3rem);
    font-weight: 700;
    text-transform: uppercase;
}

ul.partnerlist {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem 1rem;
    list-style: none;
    padding: 0;
    
    li {
        margin-bottom: 0!important;
        font-weight: 700;
    }

    li a {
        display: block;
        font-weight: 700;
    }

}

////////////////////////////////////////////////////
// PAGETITLE ICONS
////////////////////////////////////////////////////

.pagetitle:has(.pagetitle__icon) {
    display: flex;
    gap: 1rem;
    align-items: center;

    @include breakpoint(xl) { // 1280px
        gap: 2rem;
    }
}

.pagetitle__icon { // inline icon, bijv. op Toolkit pagina
    width: 2rem;
    height: auto;
    display: inline-flex;

    @include breakpoint(md) { // 768px
        width: 3rem;
    }

    @include breakpoint(lg) { // 1024px
        width: 4rem;
    }

    @include breakpoint(xl) { // 1280px
        width: 5rem;
    }

    svg {
        width: 100%;
    }
}

////////////////////////////////////////////////////
//MEEDOEN BLOCK TOOLKIT 
////////////////////////////////////////////////////

a.block.toolkit {
    text-decoration: none;
    color: var(--yellow);

    h3 {
        font-size: clamp(1.25rem,3vw,3rem);
    }
}

.toolkit__link {
    font-weight: 600;
    border: 1px solid var(--yellow);
    border-radius: 1rem;
    padding: .5rem .75rem;
    width: fit-content;
    line-height: 1;
}

////////////////////////////////////////////////////
//DEMO POSTER 
////////////////////////////////////////////////////

.demoposter {
    //text-align: center;
    text-decoration: none;
    
    line-height: 1;
    margin: 0;

    &__title {
        font-weight: 700;
        font-size: clamp(1.25rem,3vw,3rem);
        word-break: break-word;

        @include breakpoint(sm) {
            //font-size: 1.65rem;
        }

        @include breakpoint(md) {
            //font-size: 2.5rem;
        }
    }

    &__icon {
        width: 3rem;
        margin-inline: auto;
    }

    &__info {
        font-weight: 900;
        //font-size: 1.5rem;
        text-transform: uppercase;
        font-size: clamp(1.25rem,4vw,4rem);

        @include breakpoint(md) {
            //font-size: 2.5rem;
        }
    }

    &__link {
        font-weight: 600;
        border: 1px solid var(--yellow);
        border-radius: 1rem;
        padding: .5rem .75rem;
        width: fit-content;
    }

}

////////////////////////////////////////////////////
// TOC
////////////////////////////////////////////////////
ol.toc {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 650;

    li {
        line-height: 1.2;
    }
}